/*esp: 1*/
body {
      font: 400 15px Tahoma, sans-serif;
      line-height: 1.8;
      color: #818181;
}

/*esp: 1*/
h1 {
      font-size: 4em;
      color: rgb(26, 26, 26);
      padding: 100px 25px;
      background-size: cover;
      height:160px;
      text-transform: uppercase;
      right: auto;
      width: max-content;
}

/*esp: 1*/
h2 {font-size: 2.5em; }
h3 {font-size: 2em; }
h4 {font-size: 1.5em; }
h5 {font-size: 1.3em; }
h6 {font-size: 1.15em; }

/*esp: 5*/
h2, h3, h4, h5, h6 { 
      font-family: "Arial Narrow", "Verdana", "Helvetica", "sans-serif";
      font-weight: bold;
      font-size-adjust: 0.5;
      background-color:rgb(6, 253, 200);
      color: rgb(0, 0, 0);
      border-radius: 15px;
      border: 1px solid rgb(49, 49, 49);
}

/*esp: 3*/
h1, h3, h5 { font-stretch: "expanded";}

/*esp: 3*/
h2, h4, h6 { font-style: "italic";}

/*esp: 2*/
p, td{ font-family: "serif";
      font-size: 16px;
      background-color:rgba(249, 253, 6, 0.199);
      color: rgb(0, 0, 0);
}

/*esp: 2*/
p::first-letter { font-size: 20px;}

/*esp: 11*/
a:link{
      color : rgb(234, 0, 255);
      text-decoration-line: overline underline;
      text-decoration-style:dotted;
}

/*esp: 11*/
a:visited {
      color : rgba(82, 6, 88, 0.849);
      text-decoration: overline;
      text-decoration-line: blink;
      text-decoration-style: double;
}

/*esp: 1*/
ul {
      list-style-image: url(../multimedia/iconoLista.png);
      list-style-type: circle;
      list-style-position: inside;
}

/*esp: 1*/
table{
      border-collapse: collapse;
}

/*esp: 3*/
table, th, td {
      padding: 7.5px;
      border: 1px solid black;
    }

/*esp: 11*/
tr:nth-child(even) {background-color: #f2f2f2;}

/*exp: 11*/
section[title="Contenido"] {
      background-color: rgb(61, 61, 61);
      float: left;
      border-radius: 5px;
}

/*exp: 1*/
img {
      float: right;
      width: 350px;
}

/*exp: 2*/
header > section { order: 1;}

/*exp: 2*/
header > h1 { order: 2; }

/*exp: 1*/
header {
      background-color: aquamarine;
      border: 1px solid rgb(70, 70, 70);
      display: flex;
}