input {
    border: none;
    background-color: lightgray;
    text-align: right;
    width: 100%;
}

input[id="text"] {
    font-size-adjust:initial;
    font-size: 1.5em;
}

input[id="text2"] {
    font-size: 2em;
    color: black;
}

section[id="calculadora"] {
    background-color: lightgray;
    display: grid;
    height: 350px;
    width: 350px;
}

section[id="botones"] {
    padding-left: 7.5%;
    display:inline-grid;
}

section[id="fila1"] > button, section[id="fila2"] > button {
    background-color: lightgray;
    width: 14%;
    font-size: 0.75em;
}

button {
    font-size: 1em;
    border: none;
    width: 18.5%;
}

button[name="numero"] {
    background-color:white;
}
